@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Yellow */
  --yellow-600: #f7b202;
  --yellow-500: #f9c135;
  --yellow-400: #fad167;
  --yellow-300: #fce09a;
  --yellow-200: #fdf0cc;
  --yellow-100: #fef7e6;

  /* Black */
  --black-600: #111111;
  --black-500: #292929;
  --black-400: #414141;
  --black-300: #585858;
  --black-200: #707070;
  --black-100: #888888;

  /* Grey */
  --grey-600: #333333;
  --grey-500: #707070;
  --grey-400: #999999;
  --grey-300: #b8b8b8;
  --grey-200: #e0e0e0;
  --grey-100: #efefef;

  /* White */
  --white-600: #ffffff;
  --white-500: #fcfcfc;
  --white-400: #fafafa;
  --white-300: #f7f7f7;
  --white-200: #f5f5f5;
  --white-100: #f2f2f2;

  /* Blue */
  --blue-600: #007bff;
  --blue-500: #3395ff;
  --blue-400: #66b0ff;
  --blue-300: #99caff;
  --blue-200: #cce5ff;
  --blue-100: #e6f2ff;

  /* Green */
  --success-300: #08ba6d;
  --success-200: #84ddb6;
  --success-100: #e6f8f0;

  /* Red */
  --warning-300: #c84c3b;
  --warning-200: #e3a59d;
  --warning-100: #f9edeb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-yellow-600: var(--yellow-600);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-300: var(--yellow-300);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-100: var(--yellow-100);

  --color-black-600: var(--black-600);
  --color-black-500: var(--black-500);
  --color-black-400: var(--black-400);
  --color-black-300: var(--black-300);
  --color-black-200: var(--black-200);
  --color-black-100: var(--black-100);

  --color-grey-600: var(--grey-600);
  --color-grey-500: var(--grey-500);
  --color-grey-400: var(--grey-400);
  --color-grey-300: var(--grey-300);
  --color-grey-200: var(--grey-200);
  --color-grey-100: var(--grey-100);

  --color-white-600: var(--white-600);
  --color-white-500: var(--white-500);
  --color-white-400: var(--white-400);
  --color-white-300: var(--white-300);
  --color-white-200: var(--white-200);
  --color-white-100: var(--white-100);

  --color-blue-600: var(--blue-600);
  --color-blue-500: var(--blue-500);
  --color-blue-400: var(--blue-400);
  --color-blue-300: var(--blue-300);
  --color-blue-200: var(--blue-200);
  --color-blue-100: var(--blue-100);

  --color-success-300: var(--success-300);
  --color-success-200: var(--success-200);
  --color-success-100: var(--success-100);

  --color-warning-300: var(--warning-300);
  --color-warning-200: var(--warning-200);
  --color-warning-100: var(--warning-100);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Existing CSS */
::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.arc-wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.arc-swiper {
  width: 100%;
  height: 100%;
}

.arc-slide {
  display: flex;
  justify-content: center;
  transition: transform 0.4s ease, opacity 0.4s ease, scale 0.4s ease;
}

.arc-slide img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.4s;
}


@keyframes fadeIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.contactUsBg {
  background-image: url("/contactUsBg.svg");
  background-size: cover;
  background-position: center;

}